*.slurm
*.out
*.tmp
*.tar.gz
*.npy
tmp*
*.pdb

data/**/*.h5
data/**/*.pt
data/**/*.lmdb

**/__pycache__
lightning_logs
wandb/
ultrafast.egg-info/

*.ckpt
!checkpoints/*.ckpt

*.yml
*.yaml
!configs/


*.tsv
!data/**/*.tsv


